#navbar{
   
    background-color: aquamarine;
    border: 2px solid black;
}

ol{
display:flex;
text-align:center;
justify-content: space-evenly;
}

li{
    list-style-type: none;
    background-color: blueviolet;
}
a{
    text-decoration: none;
    color: black;
}
.outer{
    height: 400px;
    width: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
  
}