#box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}
#box2{
    /* height: 30px; */ height: 50vh;
    width: 30%;
    background-color: black;
    margin-left:10% ;
    font-size: 2em;
    /* width: 5em; width: 5rem; */ width: 20vw;

}
